<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>专业设置-运行状态</title>
    <link rel="stylesheet" href="../css/common.css" />
    <script src="../script/jquery-3.1.0.min.js"></script>
    <script src="../script/common/common.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            //config the lan network
            $("#dhcp_submit").click(function () {
                var dhcp_enable = $("#dhcp_switch").prop('checked');

                if(dhcp_enable === false){
                    return;
                }

                var dhcp_ip_start = $("#ip_end_left").text() + $("#ip_end_right").val();
                var dhcp_ip_end = $("#ip_start_left").text() + $("#ip_start_right").val();
                var dhcp_expires = $("#dhcp_expires").val()

                $.post(
                    "lan_config.cgi",
                    {
                        page:"lan.asp",
                        num_lan_ifaces:"1",
                        lan_ifname:"br0",
                        lan_proto:"dhcp",
                        lan_ipaddr:dhcp_ip_start,
                        lan_netmask:"255.255.255.0",
                        lan_gateway:dhcp_ip_start,
                        dhcp_start:dhcp_ip_start,
                        dhcp_end:dhcp_ip_end,
                        lan_lease:dhcp_expires,
                        action:"Apply"
                    },
                    function (data, status) {
                        location.reload();
                        console.log("success!");
                    }
                );
                return false;
            });

            //config the lan network
            $("#static_ip_submit").click(function () {
                var static_ip = $("#static_ip_start_left").text() + $("#static_ip_start_right").val();
                var static_ip_mac = $("#static_ip_mac").val();
                var static_ip_num = $("#static_ip_num").val();

                $.post(
                    "static_ip_config.cgi",
                    {
                        static_ip_num:static_ip_num,
                        static_ip_mac:static_ip_mac,
                        static_ip:static_ip,
                        action:"Apply"
                    },
                    function (data, status) {
                        location.reload();
                        console.log("success!");
                    }
                );
                return false;
            });

        });
    </script>


</head>
<body>
<div class="page">
    <div class="page-header clearfix">
        <div class="header-brand">
            <a href="javascript:void(0);">
                <img src="../images/gx_logo.png" class="logo" alt="logo">
            </a>
        </div>
        <div class="nav-box clearfix">
            <ul class="nav navbar">
                <li>
                    <a href="quickSet.html">
                        <img src="../images/wifi_set.png" alt="wifi"/>
                        <span>快速设置</span>
                    </a>
                </li>
                <li>
                    <a href="netState.html">
                        <img src="../images/net_state.png" alt="i" />
                        <span>网络状态</span>
                    </a>
                </li>
                <li class="active">
                    <a href="javascript:void(0);">
                        <img src="../images/pro_set.png" alt="i" />
                        <span>专业设置</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-wrapper pd">
        <div class="page-content clearfix">
            <div class="page-nav tabs">
                <ul class="el-menu el-menu-vertical-demo el-menu--dark">
                    <li class="el-submenu is-opened">
                        <div class="el-submenu__title">网络设置
                            <i class="el-submenu__icon-arrow el-icon-arrow-down"></i>
                        </div>
                        <ul class="el-menu">
                            <li class="el-menu-item"><a href="wanSet.html">WAN设置</a></li>
                            <li class="el-menu-item"><a href="lanSet.html">LAN设置</a></li>
                            <li class="el-menu-item is-active"><a href="dhcpSet.html">DHCP设置</a></li>
                            <li class="el-menu-item"><a href="vlanSet.html">VLAN设置</a></li>
                        </ul>
                    </li>
                    <li class="el-submenu">
                        <div class="el-submenu__title">无线设置
                            <i class="el-submenu__icon-arrow el-icon-arrow-down"></i>
                        </div>
                        <ul class="el-menu">
                            <li class="el-menu-item"><a href="basicSet.html">基本设置</a></li>
                            <li class="el-menu-item"><a href="expertSet.html">高级设置</a></li>
                            <li class="el-menu-item"><a href="wirelessFiltration.html">无线过滤</a></li>
                        </ul>
                    </li>
                    <li class="el-submenu">
                        <div class="el-submenu__title">高级设置
                            <i class="el-submenu__icon-arrow el-icon-arrow-down"></i>
                        </div>
                        <ul class="el-menu">
                            <li class="el-menu-item"><a href="expertRouter.html">高级路由</a></li>
                            <li class="el-menu-item"><a href="capacityLimitingVelocity.html">智能限速</a></li>
                            <li class="el-menu-item"><a href="portTransmit.html">端口转发</a></li>
                            <li class="el-menu-item"><a href="safetyFilter.html">安全过滤</a></li>
                        </ul>
                    </li>
                    <li class="el-submenu">
                        <div class="el-submenu__title">系统管理
                            <i class="el-submenu__icon-arrow el-icon-arrow-down"></i>
                        </div>
                        <ul class="el-menu">
                            <li class="el-menu-item"><a href="safetyInfo.html">安全中心</a></li>
                            <li class="el-menu-item"><a href="softwareUpgrade.html">软件升级</a></li>
                            <li class="el-menu-item"><a href="configManager.html">配置管理</a></li>
                            <li class="el-menu-item"><a href="professionSet.html">运行状态</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="page-tabsContent">
                <form class="form-horizontal">
                    <div class="panel">
                        <div class="panel-header">
                            <h3 class="title">DHCP服务器
                                <div class="switch-label switch-samll">
                                    <input type="checkbox" id="dhcp_switch" value="true" checked/>
                                    <label for="dhcp_switch" class="mui-switch mui-switch-anim"></label>
                                </div>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-content">
                                <div class="form-group">
                                    <label class="control-label">起始IP地址：</label>
                                    <div class="input-box" id="dhcp_start_ip3">
                                        <span id="ip_start_left">192.168.200.</span><input id = "ip_start_right" type="text" class="input small-input" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">结束IP地址：</label>
                                    <div class="input-box" id="dhcp_end_ip3">
                                        <span id="ip_end_left">192.168.200.</span><input id = "ip_end_right" type="text"  class="input small-input" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">租约时间（分）：</label>
                                    <div class="input-box">
                                        <input type="text" class="input" id="dhcp_expires"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="btn-box">
                                        <button type="submit" id="dhcp_submit" class="btn btn-primary">应用</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">
                            <h3 class="title">静态IP地址分配</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-content">
                                <div class="form-group">
                                    <label class="control-label">分配IP地址：</label>
                                    <div class="input-box">
                                        <span id="static_ip_start_left">192.168.200.</span><input id = "static_ip_start_right" type="text" class="input small-input" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">MAC地址：</label>
                                    <div class="input-box text-center">
                                        <input type="text" id = "static_ip_mac" class="input" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="btn-box">
                                        <button type="submit" id = "static_ip_submit" class="btn btn-primary">应用</button>
                                    </div>
                                </div>
                                <div class="table-box">
                                    <span id="static_ip_num" value = "<% nvram_get("wl0_bss_enabled"); %>" hidden></span>
                                    <table class="table" border="0" cellpadding="0" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th></th>
                                            <th>MAC地址</th>
                                            <th>分配IP地址</th>
                                        </tr>
                                        <% lan_static_leases(); %>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-header">
                            <h3 class="title">DHCP客户端列表</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-content">
                                <div class="table-box">
                                    <table class="table" border="0" cellpadding="0" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>主机名</th>
                                            <th>MAC地址</th>
                                            <th>分配IP地址</th>
                                            <th>租约过期</th>
                                            <th>网络描述</th>
                                        </tr>
                                        <% lan_leases(); %>
                                        </thead>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <p class="text-center">
            <label>硬件版本：</label>
            <span>
            4.3.2.5.3.1
        </span>
            <label>
                软件版本
            </label>
            <span>
            4.3.2.5.3.1
        </span>
        </p>
    </div>
</div>
</body>
</html>
