<!DOCTYPE html>
<html lang="zh_CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>专业设置-运行状态</title>
    <link rel="stylesheet" href="../css/common.css" />
    <script src="../script/jquery-3.1.0.min.js"></script>
    <script src="../script/common/common.js"></script>

    <script type="text/javascript">
        function wan_proto_change()
        {
            var network_mode = $("#net_mode option:selected").val();
            var network_dns_mode = $("#net_dns_mode input:checked").val();

            if (network_mode == "static"){
                $("#static_ip").show();
                $("#static_gateway").show();
                $("#static_mask").show();
                $("#pppoe_user").hide();
                $("#pppoe_passwd").hide();
            }else if(network_mode =="pppoe"){
                $("#pppoe_user").show();
                $("#pppoe_passwd").show();
                $("#static_ip").hide();
                $("#static_gateway").hide();
                $("#static_mask").hide();
            }
        }

        $(document).ready(function() {
            //config the network
            $("#net_config").click(function () {
                var network_mode = $("#net_mode option:selected").val();
                var network_dns_mode = $("#net_dns_mode input:checked").val();

                if (network_mode == "static"){
                    $("#static_ip").show();
                    $("#static_gateway").show();
                    $("#static_mask").show();
                }else if(network_mode =="PPPOE"){
                    $("#pppoe_user").show();
                    $("#pppoe_passwd").show();
                }

                if (network_dns_mode == "1"){
                    //get the custom dns value
                    dns1 = $("#dns1").val();
                    dns2 = $("#dns2").val();
                }

                $.post(
                    "network_config.cgi",
                    {
                        action: "Reboot"
                    },
                    function (data, status) {
                        location.reload();
                        console.log("success!");
                    }
                );
                return false;
            });
        });
    </script>
</head>
<body onLoad="wan_proto_change();">
<div class="page">
    <div class="page-header clearfix">
        <div class="header-brand">
            <a href="javascript:void(0);">
                <img src="../images/gx_logo.png" class="logo" alt="logo">
            </a>
        </div>
        <div class="nav-box clearfix">
            <ul class="nav navbar">
                <li>
                    <a href="quickSet.html">
                        <img src="../images/wifi_set.png" alt="wifi"/>
                        <span>快速设置</span>
                    </a>
                </li>
                <li>
                    <a href="netState.html">
                        <img src="../images/net_state.png" alt="i" />
                        <span>网络状态</span>
                    </a>
                </li>
                <li class="active">
                    <a href="javascript:void(0);">
                        <img src="../images/pro_set.png" alt="i" />
                        <span>专业设置</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="page-wrapper pd">
        <div class="page-content clearfix">
            <div class="page-nav tabs">
                <ul class="el-menu el-menu-vertical-demo el-menu--dark">
                    <li class="el-submenu is-opened">
                        <div class="el-submenu__title">网络设置
                            <i class="el-submenu__icon-arrow el-icon-arrow-down"></i>
                        </div>
                        <ul class="el-menu">
                            <li class="el-menu-item is-active"><a href="wanSet.html">WAN设置</a></li>
                            <li class="el-menu-item"><a href="lanSet.html">LAN设置</a></li>
                            <li class="el-menu-item"><a href="dhcpSet.html">DHCP设置</a></li>
                            <li class="el-menu-item"><a href="vlanSet.html">VLAN设置</a></li>
                        </ul>
                    </li>
                    <li class="el-submenu">
                        <div class="el-submenu__title">无线设置
                            <i class="el-submenu__icon-arrow el-icon-arrow-down"></i>
                        </div>
                        <ul class="el-menu">
                            <li class="el-menu-item"><a href="basicSet.html">基本设置</a></li>
                            <li class="el-menu-item"><a href="expertSet.html">高级设置</a></li>
                            <li class="el-menu-item"><a href="wirelessFiltration.html">无线过滤</a></li>
                        </ul>
                    </li>
                    <li class="el-submenu">
                        <div class="el-submenu__title">高级设置
                            <i class="el-submenu__icon-arrow el-icon-arrow-down"></i>
                        </div>
                        <ul class="el-menu">
                            <li class="el-menu-item"><a href="expertRouter.html">高级路由</a></li>
                            <li class="el-menu-item"><a href="capacityLimitingVelocity.html">智能限速</a></li>
                            <li class="el-menu-item"><a href="portTransmit.html">端口转发</a></li>
                            <li class="el-menu-item"><a href="safetyFilter.html">安全过滤</a></li>
                        </ul>
                    </li>
                    <li class="el-submenu">
                        <div class="el-submenu__title">系统管理
                            <i class="el-submenu__icon-arrow el-icon-arrow-down"></i>
                        </div>
                        <ul class="el-menu">
                            <li class="el-menu-item"><a href="safetyInfo.html">安全中心</a></li>
                            <li class="el-menu-item"><a href="softwareUpgrade.html">软件升级</a></li>
                            <li class="el-menu-item"><a href="configManager.html">配置管理</a></li>
                            <li class="el-menu-item"><a href="professionSet.html">运行状态</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="page-tabsContent">
                <form class="form-horizontal">
                    <div class="panel">
                        <div class="panel-header">
                            <h3 class="title">上网设置</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-content">
                                <div class="form-group select-group">
                                    <label class="control-label">上网方式：</label>
                                    <div class="input-box">
                                        <select name="" class="input" id="net_mode" onChange="wan_proto_change();">
                                            <option value="dhcp" <% nvram_match("wan_proto", "dhcp", "selected"); %>>DHCP</option>
                                            <option value="pppoe" <% nvram_match("wan_proto", "pppoe", "selected"); %>>PPPoE</option>
                                            <option value="static" <% nvram_match("wan_proto", "static", "selected"); %>>静态分配</option>
                                        </select>

                                    </div>
                                </div>

                                <div class="form-group" id = "static_ip" style="display: none;">
                                    <label class="control-label">IP地址：</label>
                                    <div class="input-box">
                                        <input type="text" class="input"   />
                                    </div>
                                </div>
                                <div class="form-group"  id = "static_mask" style="display: none;">
                                    <label class="control-label">子网掩码：</label>
                                    <div class="input-box">
                                        <input type="text" class="input" />
                                    </div>
                                </div>
                                <div class="form-group"  id = "static_gateway" style="display: none;">
                                    <label class="control-label">默认网关：</label>
                                    <div class="input-box">
                                        <input type="text" class="input" />
                                    </div>
                                </div>


                                <div class="form-group"  id = "pppoe_user" style="display: none;">
                                    <label class="control-label">PPPOE帐号：</label>
                                    <div class="input-box">
                                        <input type="text" class="input" />
                                    </div>
                                </div>
                                <div class="form-group"  id = "pppoe_passwd" style="display: none;">
                                    <label class="control-label">PPPOE密码：</label>
                                    <div class="input-box">
                                        <input type="text" class="input" />
                                    </div>
                                </div>

                                <div class="form-group select-group" >
                                    <label class="control-label">&nbsp</label>
                                    <div class="input-box" id = "net_dns_mode">
                                        <label><input type="radio" name="test" value = "0" checked/>自动DNS</label>
                                        <label><input type="radio" name="test" value = "1" />手动DNS</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">DNS1：</label>
                                    <div class="input-box">
                                        <input type="text" id = "dns1" class="input" placeholder="DNS1" value="114.114.114.114"  />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">DNS2：</label>
                                    <div class="input-box">

                                        <input type="text" class="input" id = "dns2" placeholder="DNS2" value="119.29.29.29"  />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="btn-box">
                                        <button type="submit" id = "net_config" class="btn btn-primary">应用</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-header">
                            <h3 class="title">可选设置</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-content">
                                <div class="form-group">
                                    <label class="control-label">主机名：</label>
                                    <div class="input-box">
                                        <input type="text" class="input" readonly value="HiTV" />
                                    </div>
                                </div>
                                <div class="form-group select-group">
                                    <label class="control-label">MTU：</label>
                                    <div class="input-box">
                                        <select name="" id="" class="input">
                                            <option>自动</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="page-footer">
        <p class="text-center">
            <label>硬件版本：</label>
            <span>
            4.3.2.5.3.1
        </span>
            <label>
                软件版本
            </label>
            <span>
            4.3.2.5.3.1
        </span>
        </p>
    </div>
</div>
</body>
</html>